body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}


.container {
  text-align:justify;
  max-width: 1500px;
  margin: 2px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  /* border: 2px solid; */
  background-color: #fff;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
}
.container p{
  font-size: 20px;
}
.container-social {
  font-size: 40px; 
  display: flex;
  padding: 15px;
  justify-content:space-around;
  
}
.container-exp{
  font-size: 30px;
  max-width: 1500px;
  margin: 12px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
}
.container-exp button{
  background-color: #0078d4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 30px;
  margin-right: 10px;
}
.container-exp button:hover {
  background-color: #005a9e;
}

/* Style for the header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /* background-color: #0078d4; */
  color: rgb(0, 0, 0);
}

header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
}

header h1 {
  font-size: 34px;
  margin: 0;
}

header h4 {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 5px 0;
}

header h4 svg {
  margin-right: 5px;
}

.container button {
  background-color: #0078d4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.container button:hover {
  background-color: #005a9e;
}

/* Responsive code */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px; /* Reduce padding for smaller screens */
  }
  .container-exp{
    font-size: 15px;
  }
  .container-exp button{
    font-size: 18px;
    margin: 8px;
  }
  .container p {
    font-size: 15px; 
    /* display: none; */
  }

  .moving-text {
    font-size: 30px; /* Reduce font size for moving text on smaller screens */
  }

  header {
    flex-direction: column; /* Stack header content vertically on smaller screens */
    text-align: center; /* Center-align text within header */
  }

  header img {
    width: 150px; /* Reduce image size for smaller screens */
    height: 150px;
    margin-right: 0; /* Remove right margin for image */
    margin-bottom: 10px; /* Add some bottom margin */
  }

  header h1 {
    font-size: 28px; /* Reduce font size for h1 on smaller screens */
  }
  
  header h4 {
    font-size: 16px; /* Reduce font size for h4 on smaller screens */
  }
}