/* Contact.css */

.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.2rem;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 10px;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.contact-info p {
  display: flex;
  align-items: center;
  margin: 10px;
  font-size: 1.2rem;
  color: #333;
}

.contact-info p svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: #333;
}

.success-message {
  background-color: #0078d4;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 20px 0;
}
.success-message p {
  color: white;
}
.contact-form {
  text-align: left;
}

.form-group {
  margin: 10px 0;
}

label {
  font-size: 1.2rem;
  color: #333;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

button {
  background-color: #0078d4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 10px;
}

/* Responsive Design */

@media (max-width: 768px) {
  .contact-container {
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .contact-info p {
    font-size: 1rem;
  }

  .contact-info p svg {
    width: 16px;
    height: 16px;
  }

  .success-message {
    font-size: 1rem;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 0.9rem;
    width: 90%;
  }

  button {
    font-size: 1rem;
  }
}
