/* Projects.css */
.projects {
  padding: 20px;
  text-align: center;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 500px;
  margin: 20px;
  border: 1px solid #e0e0e0;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
}

.project img {
  width: 100%;
  
}

h1 {
  text-align: center;
}

.project-buttons {
  margin-top: 10px;
}

.github-button,
.web-button {
  background-color: #24292e; /* GitHub color */
  color: #fff;
  border: none;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.web-button {
  background-color: #0073e6; /* Web Link color */
}
